body {
	color: #d97b1a;
	background-color:#688080  ;

	font-family: "Apple Garamond", "Arial", "Ubuntu";
	font-size: 18px;
}
p {
	text-align: justify;	
}
img {
	border-radius: 5%
}
a {
	text-decoration: none;
	color: black;

}
a:visited {
	text-decoration: underline;
	color: inherit;
}
a:hover {
	color: red;
}
figure {
	border:2px solid black;
	width: 100%;
	padding: 3px;
	margin: 0px;
}
figcaption {
	font-style: italic;
	text-align: center;
}
img {
	max-width: 100%;
	width: 100%;
}
@media screen and (min-width: 450px) {
	figure {
		width: 77px;
		}
}
@media screen and (min-width:600px) {
	figure {
		width:120px;
	}
	#bill-ava{ content:url( "../images/bill_gates_s.jpg"); 
	}	
}
@media screen and (min-width:600px) {
	figure {
		width:120px;
	}
	#stephen-ava{ content:url("../images/stephen_hawking_s.jpg"); 
	}
}
@media screen and (min-width:600px) {
	figure {
		width:120px;
	}
	#charlice-ava{ content:url( "../images/charlice_puth_s.jpg"); 
	}	
}
@media screen and (min-width:600px) {
	figure {
		width:120px;
	}
	#napoleon-ava{ content:url( "../images/napoleon_bonaparte_s.jpg"); 
	}	
}
@media screen and (min-width:900px) {
	figure {
		width:280px;}
	#bill-ava{ content:url("../images/bill_gates.jpg");
	}	
}
@media screen and (min-width:900px) {
	figure {
		width:280px;}
	#stephen-ava{ content:url("../images/stephen_hawking.jpg"); 
	} 
}
@media screen and (min-width:900px) {
	figure {
		width:280px;
	}
	#charlice-ava{ content:url( "../images/charlice_puth.jpg"); 
	}	
}
@media screen and (min-width:900px) {
	figure {
		width:280px;
	}
	#napoleon-ava{ content:url( "../images/napoleon_bonaparte.jpg"); 
	}	
}
@media screen and (min-width:1080px) {
	figure {
		width:390px;
	}
}