div > p{
	font-style: italic;

}

div > h1{
	font-weight:bolder;
	text-decoration: underline ; 
}
 #bill-gates {
	background-color: #692519;
	text-align: justify;
}

#stephen-hawking{
background-color: white;
text-align: justify;
}

#charlice-puth{
background-color: #928e87;
text-align: justify;
}
#napoleon-bonaparte{
background-color: #607b4a;
text-align: justify;
}

div.people {
	border-bottom: 6px solid currentColor;
	padding: 15px 15px 20px 19px;
	margin: 15px 0px 15px 0px;
	overflow: auto;
}
audio {
	width: 100%;
}
video {
	width: 75%;
	height: 35%;
}
div.name{
	width: 25%;
	float: left;
	padding-right: 9px;
	text-shadow: 2px 2px 8px #FF0000

}
div.biography {
	width: 60%;
	float: right;
	padding-left: 9px;
}

